*{
	padding: 0;
	border: 0;
	margin: 0;
}
body{
	background-color: #D3D3D2;
	position: relative;
}
.main{
	width: 1110px;
	height: 350px;
	background-color: #FFFFFF;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	top: 100px;
	left: 450px;
}
.product{
	width: 270px;
	height: 320px;
	background-color: #A6E22B;
	position: relative;
	margin-top: 10px;
	transition: 0.4s;
}
.product img{
	width: 100%;
	height: 100%;
	z-index: 1;
}
.product a{
	display: block;
	width: 270px;
	height: 50px;
	font-size: 30px;
	font-family: arial;
	text-align: center;
	text-decoration: none;
	color: #67D8EF;
	background-color: #0000005d;
	padding-top: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.product p{
	width: 150px;
	height: 40px;
	color: red;
	padding-top: 5px;
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
	background-color: orange;
	border-radius: 4px; 
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
}
.product:hover{
	margin-top: 0;
	transition: 0.4s;
}
.product a:hover{
	color: red;
}