h1._1{
	color: #014E98;
	background-color: #71B500;
}
h1._2{
	color: #018F9F;
	background-color: yellow;
}
.sum{
	color: #A6E228;
	background-color: #CEAF00;
}
h2._1{
	color: #7F7B7C;
	background-color: #01648E;
}
h2._2{
	color: #017CCA;
	background-color: #FC9B4B;
}
#MC{
	color: #773914;
	background-color: #B6E1F2;
}